html{
	background-image: url("imagenes/caras.png");
	background-size:     cover;                 
    background-repeat:   no-repeat;
}@media (max-width: 700px) {
  html{
    background-image: url("imagenes/caras.png");
    background-size: contain;                 
    background-repeat:   no-repeat;
  }
}

body {
  margin: 0;
}

footer{
	background: #4C4C4C;
	width: 100%;
	height: 12rem;
}

footer p {
  color: #FFFFFF;
  margin: 0;
  padding: 2rem;
  font-size: 1.4rem;
}

.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
  padding-bottom: 1rem;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #4C4C4C;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  margin-top: 1rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-facebook-f,.fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook, .rounded-social-buttons .social-button.instagram  {
  background: #FFFFFF;
}


.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus , .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #e3bd20;
  background: #fefefe;
  border-color: #e3bd20;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%; 
  padding-bottom: 3rem;
  object-fit: contain;
}@media (max-width: 700px) {
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 27%; 
    padding-bottom: 1rem;
    object-fit: contain;
  }
}

.redes{
  min-width:3rem;
  padding: 0;
  margin: 0;
  object-fit: contain;
}

ul{
  padding: 0;
  margin: 0;
  width: 25%;
  display: inline-flex;
}

li{
 list-style: none;
 width: 50%;
}

footer a{
  width: 50%;
  display: flex;
  margin: 0;
}

.align{
  padding-top: 2rem;
  width: 100%;
}


.text-explic{
	height: 15rem;
	width: 	100%;
}

p{
	margin-inline: auto;
	width: auto;
}

.button{
width: 100%;
	text-align: center;
       position: absolute;
            bottom: 2rem;
            left: 0;
}

.explicacion{
  width: 95%;
  min-height: 30rem;
  display: inline-block;
  margin-inline: auto;
  padding-top: 2rem;
}@media (max-width: 700px) {
  .explicacion{
    padding-top: 2rem;
    width: 85%;
    min-height: 40rem;
    display: inline-block;
    margin-inline: auto;
  }
}

.explicacion-equipo{
  width: 100%;
		height: 40rem;
		text-align: center;
    margin-inline: auto;

}

.text-img-alig{
    width: 27%; 
    float: right;
    padding-left: 2rem;
  }@media (max-width: 700px) {
    .text-img-alig{
      display: none;
    }
  }

  .topnav {
    overflow: hidden;
    background-color: #4C4C4C;
    min-height: 3rem;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color:  #FFFFFF;
    text-align: center;
    padding: 1rem 2rem ;
    text-decoration: none;
    font-size: 1.2rem;
    min-height: 3rem;
    text-decoration: none;

  }

  .bars{
    font-size: 2rem;
  }
  
  .topnav a:hover {
    background-color: #e3bd20;
    color:  #FFFFFF;
  }
  
  .topnav a.active {
    background-color: #e3bd20;
    color:  #FFFFFF;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

main{
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}
h1, h2, h3{
	  color: #e3bd20;
}@media (max-width: 700px) {
  h1,h2{
    text-align: center;
  }
}


.ofrecemos{
	overflow: auto;
	text-align: center;
	width: 100%;
	height: 25rem;
	  display:         flex;
}


.explicacion2{
  padding-top: 5rem;
	height: 25rem;
  width: 100%;
}


button {
  width: 75%;
  background-color: #4C4C4C;
  border-radius: 2rem;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 1rem;
  list-style: none;
  margin: auto;
  outline: none;
  padding: .5rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
}

button:hover {
  background-color: #e3bd20;
}


.opcion{
	min-width: 180px;
	min-height: 235px;
  position: relative;
  padding: 2rem;
  border: PowderBlue .2rem dashed;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  		height: 15rem;
		width:12%;
		float:left;
		margin: 2%;

}@media (max-width: 700px) {
  .opcion{
    min-width: 180px;
    min-height: 270px;
    position: relative;
    padding: 1rem;
    border: PowderBlue .2rem dashed;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
      height: 15rem;
      width:12%;
      float:left;
      margin: 2%;
  
  }
}

.iframe-div{
	padding-top: 6rem;
	width: 100%;
	height: 20.3rem;
	text-align: center;
}

iframe{
	width: 100%;
	height: 20rem;
}


.text{
font-size: 1rem;
margin: 1%;
padding: 1.2%;
text-align: left;

}

.texth3{
text-align: center;
font-size: 1rem;
margin: 1%;
padding: 1%;
padding: 2%;
}

.texth2{
text-align: center;
}


.marta {
    width: 16rem;
    height: 16rem;
    background-image: url("imagenes/marta.jpeg");
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}@media (max-width: 700px) {
  .marta {
    width: 10.5rem;
    height: 10.5rem;
    background-image: url("imagenes/marta.jpeg");
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.nombreequipo{
  font-size: 1.2rem;
}
}

.diana {
    width: 16rem;
    height: 16rem;
    background-image: url("imagenes/diana.jpg");
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}@media (max-width: 700px) {
  .diana {
    width: 10.5rem;
    height: 10.5rem;
    background-image: url("imagenes/diana.jpg");
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}
}


.lorena {
  width: 16rem;
  height: 16rem;
  background-image: url("imagenes/lorena.jpg");
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
}@media (max-width: 700px) {
  .lorena {
    width: 10.5rem;
    height: 10.5rem;
    background-image: url("imagenes/lorena.jpg");
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}
}


.drop{
	  width: 16rem;
    height: 16rem;
    background-image: url("imagenes/drop.png");
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
	  border: black .2rem solid;

	
}@media (max-width: 700px) {
  .drop {
    width: 10.5rem;
    height: 10.5rem;
    background-image: url("imagenes/drop.png");
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}
}


.equipo{
	text-align: center;
	width: 100%;
	height: 36rem;
	  display:         flex;
	  overflow: auto;

}

.mequipo{
		min-width: 250px;
		padding: 1rem;		
		width:25%;
		height: 25rem;
		float:left;
		margin: 2%;
}@media (max-width: 700px) {
  .mequipo{
		min-width: 185px;
		padding: 1rem;		
		width:25%;
		height: 25rem;
		float:left;
		margin: 2%;
}
}

.mequipo p{
	display: none;
}

.button2{
width: 70%;
margin-inline: auto;
	text-align: center;
	padding-top: 2rem;
            bottom: rem;
            left: 0;
}
.fullimg{
	width:100%;
	height: 100vh;
	background-color: rgba(0,0,0,.9);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-content: center;
	justify-content: center;
	z-index: 99;
	display: none;
	overflow: auto;
}

.fullscreen{
	width:100%;
	height: 100vh;
	background-color: rgba(0,0,0,.9);
	position: fixed;
	top: 0;
	left: 0;
	align-content: center;
	z-index: 99;
	overflow: auto;
	display: none;
}

.fullscreen h1{
	color: #FFFFFF;
	width: 70%;
	padding: 2rem;
	font-size: 2.5rem;
	text-align: center;
	margin-inline: auto;
	border-bottom-style: solid;
    border-bottom-width: .10rem;
    border-bottom-color: #FFFFFF;
}

.fullscreen a {
  text-decoration:none;

}

.fullscreen p{
	color: #FFFFFF;
    padding: 2rem;
	width: 75%;
	margin-inline: auto;
	font-size: 1.5rem;
}

.fullscreen button{
  width: 20%;
  margin-inline: auto;
  text-align: center;
  display: block;
}@media (max-width: 700px) {
  .fullscreen button{
    width: 12rem;
    margin-inline: auto;
    text-align: center;
    display: block;
    margin-bottom: 5rem;

  }
}

.fullscreen span{
    justify-content: right;
    display: flex;
	padding: 2rem;
}

.fullimg img{
	width:75%;
	margin-inline: 3rem;
	object-fit: contain;
	
}@media (max-width: 700px) {
  .fullimg img{
    width:75%;
    object-fit: contain;
    margin:0;
  }
}

span{
	font-size: 3rem;
	color: white;
}

.grid-gallery {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-auto-rows: 200px;
  gap: 1rem;
  grid-auto-flow: row dense;
}

.grid-gallery img:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05); 
    transform: rotate(-1.2deg) scale(1.05);
    transition: 0.6s ease-out;
    filter: grayscale(0.9);
}

@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

.grid-gallery__item:nth-child(11n+1) {
  grid-column: span 1;
}

.grid-gallery__item:nth-child(11n+4) {
  grid-column: span 2;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+6) {
  grid-column: span 3;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+7) {
  grid-column: span 1;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+8) {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+9) {
  grid-row: span 3;
}

.grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nosotros_link:hover{
	cursor: pointer;
    opacity: 0.7;
}

form{
	max-width: 40rem;
	text-align:center;
  padding: 2rem;
}

.btn-primary{
		width: 40%;
		margin-top: 2rem;
}

.form-group{
	width: 80%;
		text-align:left;
}

.form-control{
	width: 20%;
}

.form-mensaje{
	width: 50%;
}

input[type=text], input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.form-mensaje {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#horario {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-inline: auto;
}

#horario td, #hoario th {
  border: 1px solid #ddd;
  padding: 8px;
}

#horario tr:nth-child(even){background-color: #f2f2f2;}

#horario th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4C4C4C;
  color: white;
}

#horario td{
	text-align: center;
}

